/*
 * Author:      thepoy
 * Email:       thepoy@163.com
 * File Name:   ChatPage.scss
 * Created At:  2023-03-22 22:18:57
 * Modified At: Thu Mar 30 2023
 * Modified By: thepoy
 */

.chat-title {
  background-color: #fff;
  text-align: center;
  margin-bottom: 5px;

  h2 {
    margin: 0;
  }
}

#root .layout {
  height: 100%;
  overflow: hidden;

  .ant-layout-content {
    position: relative;
  }
}
