/*
 * Author:      thepoy
 * Email:       thepoy@163.com
 * File Name:   Menu.scss
 * Created At:  2023-04-01 11:20:13
 * Modified At: 2023-04-06 19:44:07
 * Modified By: thepoy
 */

#root {
  aside {
    background-color: #fff;

    .ant-layout-sider-children {
      .ant-spin-nested-loading {
        height: 100%;

        > div > .ant-spin {
          position: inherit;
          height: 100%;
        }
      }
    }

    .topic-settings.ant-menu-item-icon {
      display: initial;
    }
  }
}

.topic-list {
  height: 100%;

  .ant-menu-item {
    input {
      padding-left: 0;
    }
  }
}
