/*
 * Author:      thepoy
 * Email:       thepoy@163.com
 * File Name:   Menu.scss
 * Created At:  2023-04-01 11:20:13
 * Modified At: Fri Apr 14 2023
 * Modified By: thepoy
 */

#root {
  aside {
    background-color: #fff;

    .ant-layout-sider-children {
      .ant-spin-nested-loading {
        height: 100%;

        > div > .ant-spin {
          position: inherit;
          height: 100%;
        }
      }
    }

    .topic-settings.ant-menu-item-icon {
      display: initial;
      z-index: 99;

      &:hover {
        color: #1677ff;
        transition: transform 0.15s;
        transform: scale(1.25);
      }
    }
  }
}

.topic-list {
  height: 100%;

  .ant-menu-item {
    input {
      padding-left: 0;
    }
  }
}
